*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if iptables__[item].nat >= 0 %}
{% for item in iptables__[item].nat %}
-A {{ item.chain }}{% if item.protocol is defined  %} -p {{item.protocol}}{% endif %}
{% if item.ctstate is defined  %} -m conntrack --ctstate {{item.ctstate}}{% endif %}
{% if item.in_interface is defined  %} -i {{item.in_interface}}{% endif %}
{% if item.out_interface is defined  %} -o {{item.out_interface}}{% endif %}
{% if item.source is defined  %} -s {{item.source}}{% endif %}
{% if item.destination is defined  %} -d {{item.destination}}{% endif %}
{% if item.jump is defined  %} -j {{item.jump}}{% endif %}
{% if item.to_source is defined  %} --to-source {{item.to_source}}{% endif %}
{% if item.to_destination is defined  %} --to-destination {{item.to_destination}}{% endif %}
{% if item.match is defined  %} -m {{item.match}}{% endif %}
{% if item.src_port is defined  %} --sport {{item.src_port}}{% endif %}
{% if item.dst_port is defined  %} --dport {{item.dst_port}}{% endif %}
{% if item.name is defined  %} -m comment --comment "{{item.name}}"{% endif %}

{% endfor %}
{% endif %}
COMMIT
*filter
:INPUT {{ iptables__.policy.input }} [0:0]
:FORWARD {{ iptables__.policy.forward }} [0:0]
:OUTPUT {{ iptables__.policy.output}} [0:0]
{% if iptables__[item].filter >= 0 %}
{% for item in iptables__[item].filter %}
-A {{ item.chain }}{% if item.protocol is defined  %} -p {{item.protocol}}{% endif %}
{% if item.ctstate is defined  %} -m conntrack --ctstate {{item.ctstate}}{% endif %}
{% if item.match is defined  %} -m {{item.match}}{% endif %}
{% if item.in_interface is defined  %} -i {{item.in_interface}}{% endif %}
{% if item.out_interface is defined  %} -o {{item.out_interface}}{% endif %}
{% if item.source is defined  %} -s {{item.source}}{% endif %}
{% if item.destination is defined  %} -d {{item.destination}}{% endif %}
{% if item.jump is defined  %} -j {{item.jump}}{% endif %}
{% if item.to_source is defined  %} --to-source {{item.to_source}}{% endif %}
{% if item.to_destination is defined  %} --to-destination {{item.to_destination}}{% endif %}
{% if item.src_port is defined  %} --sport {{item.src_port}}{% endif %}
{% if item.dst_port is defined  %} --dport {{item.dst_port}}{% endif %}
{% if item.name is defined  %} -m comment --comment "{{item.name}}" {% endif %}

{% endfor %}
{% endif %}
COMMIT
